<div style="max-width:1000px;margin:auto">
    <div style="width:200px; float:left">
        <div class="input-field">
            <i class="mdi-action-search prefix"></i>
            <input id="icon_prefix" type="text" ng-model="name" autofocus>
            <label for="icon_prefix">search</label>
        </div>
    </div>
    
    <div style="float:right">
        <a class="btn btn-success add">
            Add New Company
        </a>
    </div>
    <br>
    <br>
    <hr>
    <div class="ui cards">
        <div class="card" style="width:323px" ng-repeat="all_companies in companies">
            <div class="content">
                <div class="header">{{all_companies.name}}</div>
                    <div class="description truncate">
                        {{all_companies.description}}
                    </div>
                </div>
                <div class="ui bottom attached button addjob">
                    <i class="add icon"></i>
                        Add Job
                </div>
            </div>
        </div>
        
    </div>


<div class="ui custom popup flowing" 
    style="width:500px" 
    ng-include="'views/partials/new_company_partial.html'"></div>