<div class="ui page grid">
    <div class="row">
        <div class="column">
            <form class="ui form {{loader}} raised fluid segment" name="jobForm" style="max-width:500px;margin:auto">
                <h5>Job For {{company}}</h5>
                <div class="ui divider"></div>
                <div class="required field">
                    <label>Job</label>
                    <div class="ui big icon input">
                        <input placeholder="Job" type="text" ng-model="job.name" required autofocus>
                        <i class="setting icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Description</label>
                    <textarea></textarea>
                </div>
                <input class="btn btn-success" type="submit" value="login" ng-disabled="jobForm.$invalid" ng-click="login()" />
            </form>
        </div>
    </div>
</div>
