<div class="ui page grid">
	<div class="row">
		<div class="column">
			<form class="ui form {{loader}} raised fluid segment" name="loginForm" style="max-width:500px;margin:auto">
				<h5>Login</h5>
				<div class="ui divider"></div>
				<div class="required field">
					<label>Email</label>
					<div class="ui big icon input">
						<input placeholder="user@email.com" type="text" ng-model="user.username" required autofocus>
						<i class="mail icon"></i>
					</div>
				</div>
				<div class="required field">
					<label>Password</label>
					<div class="ui big icon input">
						<input type="password" ng-model="user.password" required>
						<i class="lock icon"></i>
					</div>
				</div>
				<input class="btn btn-success" type="submit" value="login" ng-disabled="loginForm.$invalid" ng-click="login()"/>
			</form>
		</div>
	</div>
</div>
